.nadpis {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    align-items: center;
    flex-wrap: wrap;
    background-color: #c8be69;
    border-color: #916e4b;
    /* font-size: 3.5vw; */
    font-family: garamond;
    border-style: solid;
    border-width: 8px;
    font-size: larger;
    color:#4c4734;

    flex-direction: column;
    justify-content: center;
}

.header{
    margin-bottom: 64px;
}

.footer{
    margin-top:64px;
}

.nadpisimage {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    padding: 32px;
    flex-wrap: wrap;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: solid;
    background-color: #deded1;
    border-color: rgb(192, 176, 140);
    border-width: 8px;
    font-size:large;
}

.footer {
    display: flex;
    justify-content: space-around;
    /* padding-top: 32px; */
    align-items: center;
    flex-wrap: wrap;
    border-style: solid;
    background-color: #c8be69;
    border-color: #916e4b;
    border-width: 8px;
    font-size:large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footernav {
    padding: 50px;
}

body {
    margin-left:10vw;
    margin-right:10vw;
    background-color:#deded1 ;
    padding:5vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#4c4734;
    text-align:justify;
}

/* .profilzvire img {
    
    
} */

.profilimage{
    /* display:block; */
    width:100%;
    height:auto;
    border-width: 4px;
    border-color:#4c4734;
    border-style: solid;
    margin:16px;
    max-width:250px;
}

.profilzvire{
    margin-top:32px;
    margin-bottom:32px;
    justify-content: space-around;
    flex-wrap:wrap;
    display: flex;
    max-width:100%;
    height:auto;
    border-width: 8px;
    border-color:#4c4734;
    border-style: solid;
    /* margin:64px; */
    margin-right:5vw;
    margin-left:5vw;
    align-items: center;
   /*  flex-wrap:wrap; */
}

.profiltext {
    margin:32px;
    max-width:50%;
    color:#4c4734;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:justify;
}

.profilhovericon{
    flex-wrap: wrap;
}

.profilhovericon img{
    height:64px;
}
a:link {
    color:maroon;
}
a:visited{
    color:maroon;
}
a:hover {
color:#916e4b;
}
a:active {
    color:#4c4734;
}
/* 
.profilyzvirat{
    flex-direction: column;
    display:flex;
    justify-content:
} */
.aktualita{
    margin-top:32px;
    margin-bottom: 32px;
    border-width: 4px;
    border-color:#4c4734;
    border-style: solid;
    padding:1vw;
    display: flex;
    flex-wrap: wrap;

}

.inneraktualita{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 4px;
    border-color:#4c4734;
    border-style: dashed;
    padding:2vw;
    width:100%;
    text-align:justify;
}

.aktualita img{
    width:100%;
    height:auto;
    border-width: 4px;
    border-color:#4c4734;
    border-style: solid;
    margin:16px;
    max-width:250px;
}

button{
    background-color:#916e4b;
    color:#deded1;
    padding:8px;
    padding-left:16px;
    padding-right:16px;
    border-radius:16px;
    border-style:solid;
    border-width: 4px;
    border-color:#4c4734;
}

button:active {
    background-color:#c8be69;
    border-color: #916e4b;
}

button:hover{
    border-color:#c8be69
}

.donatestuff{
    
    display: flex;
    flex-wrap: wrap;/* 
    flex-direction: column; *//* 
    justify-content: center; */
    justify-content: space-evenly;
    
    align-items: center;

    
}
.zverokruh {
    display:flex;
justify-content: space-around;
align-items:center;
flex-wrap: wrap-reverse;
}

.adopceDetail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    align-items: center;
    text-align:justify;
}
.adopceDetail img{
    max-width:500px;

    
    width:100%;
    height:auto;
    border-width: 4px;
    border-color:#4c4734;
    border-style: solid;
    margin:16px;
}
.stopy {
    display:flex;
    justify-content:space-between ;
}

img{
    border-style:solid;
    border-width: 4px;
    border-color:#4c4734;
    margin:32px;
    
}

.nadpisimage img{
    border-width: 0px;
    width:15vw;
    height:auto;
}

.adopceHeaders h1{
    margin-left:7.5vw;
}

/* .historiep{
    margin-left:64px;
    padding-right:64px;
} */