.nadpis {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    align-items: center;
    flex-wrap: wrap;
    background-color: blueviolet;
    /* font-size: 3.5vw; */
    font-family: garamond;
    border-style: solid;
    border-color: teal;
    border-width: 8px;
    font-size: larger;
}

.nadpisimage {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    padding: 32px;
    flex-wrap: wrap;
    background-color: limegreen;
    font-family: courier bold;
    border-style: solid;
    border-color: gold;
    border-width: 8px;
    font-size:large;
}

.footer {
    display: flex;
    justify-content: space-around;
    /* padding-top: 32px; */
    align-items: center;
    flex-wrap: wrap;
    background-color: magenta;
    border-style: solid;
    border-color: brown;
    border-width: 8px;
    font-size:large;
}

.footernav {
    padding: 50px;
}